@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  height: 100vh;
  font-family: 'DungGeunMo';
  font-size: 14px;
  font-weight: 400;
  /* overflow-y: hidden; */
}

#game-area{
  width: 80%;
}

.img-container{
  border: 5px dotted blue;
}

@keyframes rotate_image {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#dart-position {
  width: 5%;
  margin-top: 8.8%;
}

#dart-img.rotate {
  animation: rotate_image 1s linear infinite;
}

#answer_txt{
  text-shadow : 
  -2px -2px 0 #ccc,
  2px -2px 0 #ccc,
  -2px 2px 0 #ccc,
  2px 2px 0 #ccc;  
}

.dart-coin{
  width: 50px;
}

.hidden{
  display: none !important;
}

#start-area.hidden{
  display: none!important;
}

#submit-area{
  display: none !important;
}

#submit-area.show{
  display: flex !important;
  /* margin: 0 auto !important; */
}

#reset_btn{
  display: none;
}


#result_txt{
  /* height: 72px; */
  /* font-size: 72px; */
  font-weight: 800;
  line-height: 52px;
  text-align: center;
  /* border: 5px dotted dodgerblue; */
}


@media screen and (max-width: 1200px) {
  #dart-position {
    width: 5%;
  }
  #answer_txt{
    font-size: 24px;
    text-shadow : 
    -2px -2px 0 #ccc,
    2px -2px 0 #ccc,
    -2px 2px 0 #ccc,
    2px 2px 0 #ccc;  
  }
}


@media screen and (max-width: 992px) {
  #dart-position {
    width: 5%;
    margin-top: 8%;
  }
  #answer_txt{
    font-size: 18px;
    text-shadow : 
    -2px -2px 0 #ccc,
    2px -2px 0 #ccc,
    -2px 2px 0 #ccc,
    2px 2px 0 #ccc;  
  }
  .dart-coin{
    width: 30px;
  }
}

@media screen and (max-width: 575px) {
  #dart-position {
    width: 5%;
    margin: 0 !important;
    padding-top: 9% !important;
  }
  #answer_txt{
    font-size: 18px;
    text-shadow : 
    -2px -2px 0 #ccc,
    2px -2px 0 #ccc,
    -2px 2px 0 #ccc,
    2px 2px 0 #ccc;  
  }
  .dart-coin{
    width: 30px;
  }
}
