@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
  font-family: Galmuri9, sans-serif;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

button {
  background: none;
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.h1_txt {
  text-align: center;
  color: #fff;
}

.chaces-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chaces-area p {
  margin: 0;
}

.chaces-imgs {
  display: flex;
  gap: 10px;
}

.coins {
  width: 35px;
}

@media screen and (max-width:575px) {
  .chaces-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.hint-area {
  text-align: center;
  /* background-color: #fff; */
}

.game-img-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.stick {
  display: none;
}

.stick.stick--default {
  display: block;
}

.stick-area {
  position: relative;
  padding: 1%;
}

.positioning {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33.5%;
  width: 16%;
  height: 20%;
  /* border: 1px solid #fff; */
  box-sizing: border-box;
}

.btn_stick {
  top: 3.5%;
  left: 13.5%;
  width: 16.5%;
  height: 66%;
  /* height: auto; */
}

.btn_stick:hover {
  background-image: url(./../img/stick-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position-y: 1px; */
}

.red_btn {
  left: 33.5%;
}

.red_btn:hover {
  background-image: url(./../img/red-btn-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.yellow_btn {
  left: 54%;
}

.yellow_btn:hover {
  background-image: url(./../img/yellow-btn-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.blue_btn {
  left: 74%;
}

.blue_btn:hover {
  background-image: url(./../img/blue-btn-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
}